// Define variables for your color scheme

// For example:
$red: #A68A56;
//gold

$blue: #2A3659;
$yellow: #FDB631;
$orange: #E67E22;

$green: #24B0BF;
//turquoise

$gray: #000000;
$light-gray: #F4F4F4;
