.hidden {
  display:none;
}

.bigger-price {
  font-family: "Arapey", "Helvetica", "sans-serif";
  font-size: 40px;
  font-weight: bolder;
}

.booking-box {
  background-color: white;
  padding: 20px;
}

.price-info {
  margin-bottom: -20px;
  text-align: center;
}
