.fas {
  color: white;
  font-size: 30px;
  float: right;
  position: relative;
  right: 2%;
  padding-right: 10px;
}

.banner-user {
  padding: 20px 60px;
}

.row {
  height: auto;
}

.container {
  padding: 23px;
}

.btn-primary {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  margin-right: 0;
  float: left;
  background-color: $blue;
  border: 1px solid $blue;
  &:hover {
   background-color: $blue;
   border: 1px solid $blue;
  }
}

.radius-loc {
  border-radius: 3px 0px 0px 3px;
}

.radius-prop {
  border-radius: 0px 3px 3px 0px;
}

.enabled {
  background-color: white;
  color: #2A80CF;
  border: 1px solid $blue;
  color: $blue;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  margin-right: 0;
  float: left;
  &:hover {
   color: $blue;
   font-weight: 800;
  }
}

.wrapper {
  min-height: calc(100vh - 520px);
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 1em;
  height: 1em;
  width: 100px;
  margin: 0;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;

  &-top {
    color: #FABB1F;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}
