.margin-top-negative {
    margin-top: -200px;
}

.booking {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  text-align: center;
  h3 {
    text-align: center;
    color: gray;
  }
}

.booking-details {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.booking-info {
  text-align: right;
  p{
    font-style: 9px;
    color: #d3d0cf;
  }
}

.pic-customer-booking {
  border-radius: 50%;
  height: 100px;
  text-align: center;
  padding-bottom: 10px;
}

.booking-details-montre {
  text-align: left;
  display: flex;
}

.booking-details-montre-pic {
  height: 150px;
}

.radius-recap {
  border-radius: 3px 0px 0px 3px;
}

.radius-message {
  border-radius: 0px 0px 0px 0px;
  border-left: none;
  border-right: none;
}

.radius-review {
  border-radius: 0px 3px 3px 0px;
}

.border {
  border: 1px solid black;
}

.review-display {
  display: flex;
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: rgb(240, 240, 240) 1px solid;
}

.avatar-review {
  margin-left: 20%;
  margin-right: 10%;
}

.review {
  h4 {
    text-align: left;
    color: rgb(50, 50, 50);
    font-size: 20px;
    font-weight: 800;
    font-family: "PT Sans", "Open Sans", "Helvetica", "sans-serif";
  }
}

.yellow-stars {
  color: #FABB1F;
  font-size: 18px;
  padding: 2px;
  float: left;
}
.grey-stars {
  color: rgb(100, 100, 100);
  font-size: 18px;
  padding: 2px;
  float: left;
}

.message-customer {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(220, 220, 220);
  width: 50%;
  .message-content {
    margin-left: 3%;
  }
}

.message-owner {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(220, 220, 220);
  width: 50%;
  .message-content {
  margin-right: 3%;
  text-align: right;
  }
}

.messagerie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messagerie.message-owner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#new_message {
  width: 50%;
}
