.fas {
  color: white;
  font-size: 30px;
  float: right;
  position: relative;
  right: 2%;
  padding-right: 10px;
}

.banner-user {
  padding: 20px 60px;
}

.row {
  height: auto;
}

#title-user {
  padding-top: 100px;
}
