.form-booking {
  padding-bottom: 20px;
}

.btn-resa {
  width: 100%;
}

.about-owner {
  min-height: 250px;
  background-color: white;
  padding: 20px;
}

.btn-return {
  background-color: white;
  padding: 5px 10px;
  color: rgb(50, 50, 50);
  border-radius: 5px;
  position: relative;
  top: 80%;
  left: 2%;
}

.actions-watch {
  padding: 20px;
  text-align: center;
  background-color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

.watch-rating {
  display: flex;
}

.watch-rating-count {
  padding-left: 15px;
}

.text-left {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

.watch-description {
  background-color: white;
  padding: 20px;
}

#price-box {
  flex: 0 0 400px;
  position: sticky !important;
  height: 80vh !important;
  padding-bottom: 24px !important;
  padding-right: 24px !important;
  padding-top: 24px !important;
  top: 0px !important;
  margin: 20px
}
.details {
  display: flex;
}
