<div class="status-bar">
  <div class="barWrapper">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-width="<%=@booking.status%>%">
          <span  class="popOver" data-toggle="tooltip" data-placement="top" title='<%=@tooltip_info%>'></span>
      </div>
    </div>
  </div>
</div>
