<div class="banner text-center" style="background-image: url('https://images.unsplash.com/photo-1488132828189-4e416661b680?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a16bce80dad1d3afc02a021bd255357&auto=format&fit=crop&w=1650&q=80');">
  <div class="banner-content">
    <h1>Votre temps est précieux</h1>
    <p>Location de montres de luxe de particulier à particulier</p>
  </div>
</div>


<div class="container">
  <div class="row">
      <% @watches.each do |watch| %>
              <div class="col-xs-12 col-sm-4">
          <div class="watch-card">
            <div class="watch-card-image" style="background-image: url('https://images.unsplash.com/photo-1524805444758-089113d48a6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3b0dad6307f4db24e9d52d0140adab06&auto=format&fit=crop&w=668&q=80')"></div>
            <div class="watch-card-content">
              <div class="watch-card-title">
                <h4><strong><%= watch.brand %></strong></h4>
                <p><%= watch.model %></p>
              </div>
            </div>
            <div class="watch-card-actions">
              <span><%= watch.price_per_day %> € par jour</span>
              <span><img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"></span>

            </div>
            <%= link_to "", watch_path(watch), class: 'card-link' %>
          </div>
        </div>
      <% end %>
    </div>
</div>

