.avatar {
  border-radius: 50%;
  height: 100px;
  float: right;
  position: relative;
  bottom: 0px;
  }

.avatar-big {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px white solid;
}

.avatar-big.show-watch {
  height: 120px;
  width: 120px;
  margin-top: 15px;
  }
