.row {
  margin-top: 20px;
}
.watch-card {
  width:100%;
  position:relative;
  margin:.5rem 0 1rem 0;
  background-color:#fff;
  border-radius:2px;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
}
.watch-card-image {
  height:200px;
  background-position:center;
  background-size:cover
}
.watch-card-content {
  padding: 5px 20px;
  background-color:#F8F9FA
}
.watch-card-actions {
  position:relative;
  background-color:inherit;
  border-top:1px solid rgba(160,160,160,0.2);
  padding:16px 24px
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 20px;

}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

#dates {
  color: gray;
  font-size: 14px;
}

.watch-card-title {
  display: flex;
  justify-content: space-between;
  h4 {
    font-size: 0.9em;
  }
  p {
    font-size: 0.9em;
  }
}

.watch-card-title-user {
  display: block;
}

.average-rating {
  position: relative;
  top: 5px;
}

.card-user-infobox {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
