#map {
  flex: 0 0 450px;
  position: sticky !important;
  height: 100vh !important;
  padding-bottom: 24px !important;
  padding-right: 24px !important;
  padding-top: 24px !important;
  top: 0px !important;
  margin: 26px
}
.content {
  display: flex;
}
