#map {

}

#map.map-index {
  flex: 0 0 600px;
  position: sticky !important;
  top: 50px !important;
  height: 85vh;
  padding: 0px 30px 0px 0px;
  margin-top: 30px,


  // flex: 0 0 600px;
  // position: sticky !important;
  // height: 90vh !important;
  // padding-bottom: 24px !important;
  // padding-right: 24px !important;
  // padding-top: 24px !important;
  // top: 0px !important;
  // margin: 26px
}

#map.map-show {
  flex: 0 0 0;
  height: 35vh !important;
}

.content {
  display: flex;
}
